<%- include('./includes/head.ejs') %> 
<%- include('./includes/heading.ejs') %>
<h1 class="text-center">خطای 500</h1>
<hr>
<h2 class="text-center">در ارتباط با دیتابیس مشکلی ایجاد شده است لطفا با پشتیبانی هماهنگ کنید</h2>
<%- include('./includes/end.ejs') %>