.cart__item-list{
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    margin: auto;
    max-width: 95%;
   
}
.cart__item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}
.cart__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin-bottom: 1rem;
     box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: none;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

}

.cart__item h1,
.cart__item h2{
    
    margin-right: 1rem;
    font-size: 1.2rem;
    margin: 0;
    width: 250px;
    max-width: 300px;
    
}

.cart__item img{
    width: 120px;
}

.cart__item button{
    margin-top:20px;
}
.cartOrder__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin-bottom: 1rem;
     box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: none;
    border-radius: 12px;
    overflow: hidden;
}